@import url('https://fonts.googleapis.com/css?family=Anton|Staatliches');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/*
F4F0ED
D58D34
973D2C
918385
242832
 */
 :root{
   --main-white: 244, 239, 236;
   --main-orange: 213, 141, 52;
   --main-red: 150, 61, 44;
   --main-grey: 145, 132, 134;
   --main-deepBlue: 36, 40, 50;
 }



body{

}

.big_container{
  background-color: rgb(var(--main-red));
  background-attachment: fixed;
  background-size: cover;
}
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
article.homeData {
/*  just a fancy border  */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* border: 10px solid rgba(255, 255, 255, 0.5); */
  margin: 10px;
}
article.homeData h1 {
  position: absolute;
  top: 60%;
  width: 100%;
  font-size: 5em;
  letter-spacing: 3px;
  color: #fff;
  font-family: Oswald, sans-serif;
  text-align: center;
}

article.homeData h1 span {
  font-family: sans-serif;
  letter-spacing: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

article.homeData h1 span a {
  color: #fff;
}



nav{

}

.nav_bar{
  display: flex;
  align-items: center;
  background-color: rgba(var(--main-grey), 0.4);
}


.nav_bar .navbar_logo{
  font-size: 1.1em;
  font-family: 'Staatliches', cursive;
  float: left;
  width: 30%;
  display: flex;
  justify-content: space-around;
}
.navbar_buttons{
  font-size: 1.1em;
  display: flex;
  justify-content: space-around;
  float: left;
  width: 70%;
}


.navbar_buttons a.nav_item {
  display: block;
  padding: 10px;
  color: rgb(var(--main-white));
  font-family: 'Staatliches', cursive;
  transition: 0.6s;
}

.navbar_buttons a.nav_item:hover {
  color: rgb(var(--main-grey));
}






.inner_container{

}
